.containerLogin {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  width: 100vw;
}

.boxLogin {
  align-items: center;
  border-radius: 25px;
  box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  width: 30%;
}

.InputName, .InputEmail {
  background: white;
  border: 1px solid #e1e5eb;
  border-radius: 25px;
  height: 12px;
  margin-top: 20px;
  padding: 12px;
  width: 20vw;
}

.btnLogin {
  background: #003be5;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  height: 30px;
  margin-top: 20px;
  padding: 2px;
  width: 20vw;
}

.linkBtn {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  text-decoration: none;
  width: 100vw;
}

.btnConfg {
  background: #0e97f1f6;
  border-radius: 25px;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  height: 30px;
  padding: 2px;
  width: 20vw;
}

@media screen and ( max-width : 800px ) {

  .boxLogin {
    width: 60%;
  }

  .InputName, .InputEmail {
    width: 50vw;
  }

  .btnLogin {
    width: 50vw;
  }

  .btnConfg {
    width: 50vw;
  }
}
